* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

a.hover-underlined {
	text-decoration: none;
}

a.hover-underlined:hover {
	text-decoration: underline !important;
}

span.secondary-link:hover {
	color: inherit;
}

.loading {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	background: #1fab2f;
	height: 6px;
	margin-top: 77px;
	animation: progress 1s infinite;
}

@keyframes progress {
	0% {
		width: 0;
		left: 0;
	}

	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}
